@use "../abstracts/" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $default_margin;
    overflow: auto;
}

.free_places {
    font-size: 28px;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: $default_margin;
    width: 100%;
    .info {
        padding: $default_padding;
        display: flex;
        flex-direction: column;
        gap: $default_margin;
        background-color: white;
        width: 100%;
        border: 2px solid $stroke_cl;
        border-radius: 0.8rem;
    }
}

.header {
    font-size: 24px;
}

.subheader {
    font-size: 24px;
    color: #5c5757;
}

.list_item {
    display: flex;
    justify-content: space-between;
}

.map {
    position: relative;
    border: 2px solid $stroke_cl;
    border-radius: 0.5rem;
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.places {
    display: flex;
    justify-content: space-evenly;
}

%place {
    width: 60px;
    height: 100px;
}

.occupated_place {
    @extend %place;
    background-color: $error_bg_cl;
}

.free_place {
    @extend %place;
    background-color: $primary_bg_color;
}

.index {
    display: contents;

}

.page {
    padding-left: 5%;
    padding-right: 5%;
    // display: contents;
    overflow: scroll;
    scrollbar-color: $primary_color transparent;

    &::-webkit-scrollbar {
        margin-right: 5px;
        width: 3px; /* в основном для вертикальных полос прокрутки */
        height: 3px; /* в основном для горизонтальных полос прокрутки */
    }
    &::-webkit-scrollbar-thumb {
        /* плашка-бегунок */
        width: 2px;
        background: $primary_color;
    }
    &::-webkit-scrollbar-track {
        /* фон */
        background: transparent;
    }
}
