$primary_color: #7e0f0f;
$contrast_primary: #f1f1f1;
$side_color: #fff;
$background_color: #dff1fd;

$nav_button_cl: #333;


$stroke_cl: hsla(40, 2, 50, .7);
$label_cl: hsla(40, 2, 25, .8);
$text_cl: hsla(40, 2, 25, 1);
$placeholder_cl: hsla(40, 2, 25, .5);
$error_cl: hsla(0, 71%, 37%, 1);;
$error_bg_cl: hsla(0, 71%, 80%, .1);
$focus_cl: hsla(40, 2, 25, 1);