$primary_color: #5FC1BE;
$contrast_primary: #f1f1f1;
$side_color: #fff;
$background_color: #FFF9F3;

$nav_button_cl: #333;


$stroke_cl: #D85F62;
$label_cl: hsla(40, 2, 25, .8);
$text_cl: #5C5757;
$placeholder_cl: hsla(40, 2, 25, .5);
$error_cl: #D85F62;
$error_bg_cl: hsla(0, 71%, 80%, .1);
$focus_cl: #0D3956;
; 