// $font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian",
//     "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
//     "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil",
//     "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
// $font_family: "Exo 2", sans-serif;
// $font_family:'Comfortaa', cursive;
// $font_family:'Montserrat', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$font_family: "Roboto", sans-serif;

$biggest_fs: 24px;
$bigger_fs: 20px;
$default_fs: 16px;
$smaller_fs: 14px;
$smallest_fs: 12px;
