$biggest_margin: 1.5rem;
$bigger_margin: 1.2rem;
$default_margin: 1rem;
$smaller_margin: .8rem;
$smallest_margin: .5rem;

$biggest_padding: 1.2rem;
$bigger_padding: 1rem;
$default_padding: .8rem;
$smaller_padding: .5rem;
$smallest_padding: .2rem;

